
@{
    ViewBag.Title = "Blank";
}
@section apps {
    <!-- Controller -->
    <script src="~/spa/app.js"></script>
    <script src="~/spa/config.js"></script>
    <script src="~/spa/controller/BlankController.js"></script>
}
@section scripts {
    <script src="~/content/vendor/fuse-html/fuse-html.min.js" type="text/javascript"></script>
    <script src="~/content/js/main.js" type="text/javascript"></script>
}

<div class="content-wrapper" ng-app="app" ng-controller="BlankController">
    <div class="content custom-scrollbar">
        <div class="page-layout simple left-sidebar-floating">
            <div class="page-header bg-secondary text-auto row no-gutters align-items-center justify-content-between p-4 p-sm-6">
                <div class="col">
                    <!-- APP TITLE -->
                    <div class="row no-gutters align-items-center flex-nowrap">
                        <div class="logo row no-gutters align-items-center flex-nowrap">
                            <span class="logo-text h4">{{title}}</span>
                        </div>
                    </div>
                    <!-- / APP TITLE -->
                </div>
            </div>

            <div class="page-content-wrapper">
                <h2>{{title}}</h2>
                <h3>{{user.firstname}} {{user.lastname}}</h3>
            </div>
        </div>
    </div>
</div>
            
