<div id="wrapper">
    <!-- Left Navigator -->
    <aside id="aside" class="aside aside-left" ng-include="'spa/view/leftNavigator.html'"
           data-fuse-bar="aside" data-fuse-bar-media-step="md" data-fuse-bar-position="left"></aside>

    <!-- Content -->
    <div class="content-wrapper">
        <!-- NavBar -->
        <nav id="toolbar" class="bg-white" ng-include="'spa/view/navbar.html'"></nav>

        <!-- Content Page -->
        <div class="content custom-scrollbar" ng-controller="BlankController">
            <div id="maincontent" class="page-layout" style="overflow:auto;flex-direction: column;">

                <div class="page-layout simple left-sidebar-floating">
                    <div class="page-header bg-secondary text-auto row no-gutters align-items-center justify-content-between p-4 p-sm-6">
                        <div class="col">
                            <!-- APP TITLE -->
                            <div class="row no-gutters align-items-center flex-nowrap">
                                <div class="logo row no-gutters align-items-center flex-nowrap">
                                    <span class="logo-text h4">{{title}}</span>
                                </div>
                            </div>
                            <!-- / APP TITLE -->
                        </div>
                    </div>

                    <div class="page-content-wrapper">
                        <h2>{{title}}</h2>
                        <h3>{{user.firstname}} {{user.lastname}}</h3>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
