<div id="wrapper">
    <!-- Left Navigator -->
    <aside id="aside" class="aside aside-left" ng-include="'spa/view/leftNavigator.html'"
           data-fuse-bar="aside" data-fuse-bar-media-step="md" data-fuse-bar-position="left"></aside>

    <!-- Content -->
    <div class="content-wrapper">
        <!-- NavBar -->
        <nav id="toolbar" class="bg-white" ng-include="'spa/view/navbar.html'"></nav>

        <!-- Content Page -->
        <div class="content custom-scrollbar" ng-controller="BlankController">
            <div id="maincontent" class="page-layout" style="overflow:auto;flex-direction: column;">
                <div class="page-layout simple left-sidebar-floating">
                    <div class="page-header bg-secondary text-auto row no-gutters align-items-center justify-content-between p-4 p-sm-6">
                        <div class="col">
                            <!-- APP TITLE -->
                            <div class="row no-gutters align-items-center flex-nowrap">
                                <div class="logo row no-gutters align-items-center flex-nowrap">
                                    <span class="logo-text h4">{{title}}</span>
                                </div>
                            </div>
                            <!-- / APP TITLE -->
                        </div>
                    </div>

                    <div class="page-content-wrapper">
                        <div class="row">
                            <div class="form-row col-md-12">
                                <h2>{{title}}</h2>
                                <br />
                                <h3>{{user.firstname}} {{user.lastname}}</h3>
                            </div>
                        </div>
                        
                        <br />
                        <div class="row">
                            <div class="form-row col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" ng-model="driver_id" />
                                    <button ng-click="toggleModal('พนักงานขับรถ')" class="btn btn-default">Cancel</button>
                                </div>
                                <modal-select visible="showModal">
                                    <div class="list-group" role="tablist" style="height:450px;overflow-x:auto">
                                        <a ng-repeat="row in drivers" class="list-group-item list-group-item-action" href=""
                                           ng-click="selected_driver(row.PEOPLE_ID)" data-toggle="tab"
                                           ng-class="{'active':driver_id==row.PEOPLE_ID, '':driver_id!=row.PEOPLE_ID}">{{row.PEOPLE_ID}}:{{row.NAME}}</a>
                                    </div>
                                </modal-select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
