<div id="wrapper">
    <!-- Left Navigator -->
    <aside id="aside" class="aside aside-left" ng-include="'spa/view/leftNavigator.html'"
           data-fuse-bar="aside" data-fuse-bar-media-step="md" data-fuse-bar-position="left"></aside>

    <!-- Content -->
    <div class="content-wrapper">
        <!-- NavBar -->
        <nav id="toolbar" class="bg-white" ng-include="'spa/view/navbar.html'"></nav>

        <!-- Content Page -->
        <div class="content custom-scrollbar">
            <div id="maincontent" class="page-layout" style="overflow:auto;flex-direction: column;">
                <!--<ng-view></ng-view>-->
            </div>
        </div>
    </div>
</div>


<script src="/content/js/main.js" type="text/javascript"></script>