<div id="wrapper">
    <!-- Left Navigator -->
    <aside id="aside" class="aside aside-left" ng-include="'spa/view/leftNavigator.html'"
           data-fuse-bar="aside" data-fuse-bar-media-step="md" data-fuse-bar-position="left"></aside>

    <!-- Content -->
    <div class="content-wrapper">
        <!-- NavBar -->
        <nav id="toolbar" class="bg-white" ng-include="'spa/view/navbar.html'"></nav>

        <!-- Content Page -->
        <div class="content custom-scrollbar">
            <div id="maincontent" class="page-layout" style="overflow:auto;flex-direction: column;">
                <div class="col-md-12">
                    <div class="widget-group row" style="padding-left:20px;padding-right:20px;">
                        <!-- NEW -->
                        <div class="col-12 col-sm-6 col-xl-3 p-3">
                            <div class="widget widget2 card">
                                <div class="widget-content pt-2 pb-8 d-flex flex-column align-items-center justify-content-center">
                                    <div class="title text-danger" style="font-size:7.2rem;line-height:7.2rem">4</div>
                                    <div class="h5 text-muted pl-2">New</div>
                                </div>
                                <div class="widget-footer p-4 bg-light row no-gutters align-items-center">
                                    <span class="text-muted">แจ้งซ่อม SO</span>
                                </div>
                            </div>
                        </div>
                        <!-- NEW -->
                        <!-- จัดเตรียมคิวงานและอะไหล่ -->
                        <div class="col-12 col-sm-6 col-xl-3 p-3">
                            <div class="widget widget2 card">
                                <div class="widget-content pt-2 pb-8 d-flex flex-column align-items-center justify-content-center">
                                    <div class="title text-danger" style="font-size:7.2rem;line-height:7.2rem">4</div>
                                    <div class="h5 text-muted pl-2">จัดเตรียมคิวงานและอะไหล่</div>
                                </div>
                                <div class="widget-footer p-4 bg-light row no-gutters align-items-center">
                                    <span class="text-muted">แจ้งซ่อม SO</span>
                                </div>
                            </div>
                        </div>
                        <!-- จัดเตรียมคิวงานและอะไหล่ -->
                        <!-- ทีมช่างดำเนินการ -->
                        <div class="col-12 col-sm-6 col-xl-3 p-3">
                            <div class="widget widget2 card">
                                <div class="widget-content pt-2 pb-8 d-flex flex-column align-items-center justify-content-center">
                                    <div class="title text-danger" style="font-size:7.2rem;line-height:7.2rem">3</div>
                                    <div class="h5 text-muted pl-2">ทีมช่างดำเนินการ</div>
                                </div>
                                <div class="widget-footer p-4 bg-light row no-gutters align-items-center">
                                    <span class="text-muted">แจ้งซ่อม SO</span>
                                </div>
                            </div>
                        </div>
                        <!-- ทีมช่างดำเนินการ -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/content/js/main.js" type="text/javascript"></script>