<!-- Left Navigator -->
<div class="aside-content-wrapper">
    <div class="aside-content bg-primary-700 text-auto">
        <div class="aside-toolbar">
            <div class="logo">
                <span class="logo-icon">S</span>
                <span class="logo-text">SERVICES</span>
            </div>
            <button id="toggle-fold-aside-button" type="button" class="btn btn-icon d-none d-lg-block" data-fuse-aside-toggle-fold>
                <i class="icon icon-backburger"></i>
            </button>
        </div>
        <ul class="nav flex-column custom-scrollbar" id="sidenav" data-children=".nav-item">
            <li class="nav-item">
                <a class="nav-link ripple" ng-class="{'active': navactive=='home'}" ng-click="MenuClick('home')" href="">
                    <i class="icon s-4 icon-apps"></i>
                    <span>Home</span>
                </a>
            </li>
            <li class="nav-item" role="tab" id="heading-dashboards">
                <a class="nav-link ripple with-arrow" data-toggle="collapse" data-target="#collapse-shipment" aria-controls="collapse-shipment" href=""
                   aria-expanded="false">
                    <i class="icon s-4 icon-tile-four"></i>
                    <span>ระบบคำนวณค่าขนส่ง</span>
                </a>
                <ul id="collapse-shipment" class='collapse' role="tabpanel" aria-labelledby="heading-shipment" data-children=".nav-item">
                    <li class="nav-item">
                        <a class="nav-link ripple" ng-class="{'active': navactive=='shipmentlist'}" ng-click="MenuClick('shipmentlist')" href="">
                            <span>คำนวณค่าขนส่ง BLF</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ripple" ng-class="{'active': navactive=='shipmentplan'}" ng-click="MenuClick('shipmentplan')" href="">
                            <span>ตารางงานจัดส่ง</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ripple" ng-class="{'active': navactive=='shipmentsummary'}" ng-click="MenuClick('shipmentsummary')" href="">
                            <span>รายงานเอกสารค่าเที่ยวสรุปบัญชี</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" role="tab" id="heading-dashboards">
                <a class="nav-link ripple with-arrow" data-toggle="collapse" data-target="#collapse-aftersale" aria-controls="collapse-aftersale" href=""
                   aria-expanded="false">
                    <i class="icon s-4 icon-tile-four"></i>
                    <span>After Sale</span>
                </a>
                <ul id="collapse-aftersale" class='collapse' role="tabpanel" aria-labelledby="heading-shipment" data-children=".nav-item">
                    <li class="nav-item">
                        <a class="nav-link ripple" ng-class="{'active': navactive=='repairlist'}" ng-click="MenuClick('repairlist')" href="">
                            <span>รายงานแจ้งซ่อม</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ripple" ng-class="{'active': navactive=='repairform'}" ng-click="MenuClick('repairform')" href="">
                            <span>เพิ่มงานซ่อม SO</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ripple" ng-class="{'active': navactive=='repairform'}" ng-click="MenuClick('repairform')" href="">
                            <span>บันทึกสถานะอะไหล่</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ripple" ng-class="{'active': navactive=='repairform'}" ng-click="MenuClick('repairform')" href="">
                            <span>ตารางคิวงานช่าง</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ripple" ng-class="{'active': navactive=='repairform'}" ng-click="MenuClick('repairform')" href="">
                            <span>บันทึกการประเมินสินค้าถูกส่งกลับ</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<script src="content/vendor/fuse-html/fuse-html.min.js" type="text/javascript"></script>
