<div id="wrapper" ng-controller="LoginController">
    <!-- Content -->
    <div class="content-wrapper">
        <!-- NavBar -->
        <div class="content custom-scrollbar">
            <div id="login-v2" class="row no-gutters">
                <div class="intro col-12 col-md light-fg">
                    <div class="d-flex flex-column align-items-center align-items-md-start text-center text-md-left py-16 py-md-32 px-12">
                        <div class="logo bg-secondary mb-8">
                            <span>S</span>
                        </div>
                        <div class="title">
                            Boonthavorn Service !
                        </div>
                        <div class="description pt-2">
                            ระบบงานบริการ ควบคุมการทำงานหลังการขาย แจ้งซ่อม และคำนวณค่าขนส่ง
                        </div>
                    </div>
                </div>
                <div class="form-wrapper col-12 col-md-auto d-flex justify-content-center p-4 p-md-0">
                    <div class="form-content md-elevation-8 h-100 bg-white text-auto py-16 py-md-32 px-12">
                        <div class="title h5">Log in to your account</div>
                        <form name="loginForm" novalidate class="mt-8" ng-submit="login()">
                            <div class="form-group mb-4">
                                <input type="text" class="form-control" id="loginFormInputEmail" ng-model="userName"
                                       aria-describedby="emailHelp" placeholder=" " />
                                <label for="loginFormInputEmail">User Name</label>
                            </div>
                            <div class="form-group mb-4">
                                <input type="password" class="form-control" id="loginFormInputPassword" ng-model="password" />
                                <label for="loginFormInputPassword">Password</label>
                            </div>
                            <button type="submit" class="submit-button btn btn-block btn-secondary my-4 mx-auto" aria-label="LOG IN">
                                LOG IN
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>