<!-- NavBar -->
<div class="row no-gutters align-items-center flex-nowrap">
    <div class="col">
        <div class="row no-gutters align-items-center flex-nowrap">
            <button type="button" class="toggle-aside-button btn btn-icon d-block d-lg-none" data-fuse-bar-toggle="aside">
                <i class="icon icon-menu"></i>
            </button>
            <div class="toolbar-separator d-block d-lg-none"></div>
            <div class="toolbar-separator"></div>
        </div>
    </div>
    <div class="col-auto">
        <div class="row no-gutters align-items-center justify-content-end">
            <div class="user-menu-button dropdown">
                <div class="dropdown-toggle ripple row align-items-center no-gutters px-2 px-sm-4" role="button" id="dropdownUserMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="username mx-3 d-none d-md-block">{{user.firstname}} {{user.lastname}}</span>
                </div>
                <div class="dropdown-menu" aria-labelledby="dropdownUserMenu">
                    <a class="dropdown-item" href="" ng-click="MenuClick('profile')">
                        <div class="row no-gutters align-items-center flex-nowrap">
                            <i class="icon-account"></i>
                            <span class="px-3">บัญชีของฉัน</span>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="" ng-click="logout()">
                        <div class="row no-gutters align-items-center flex-nowrap">
                            <i class="icon-logout"></i>
                            <span class="px-3">ออกจากระบบ</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>