<div id="wrapper">
    <!-- Left Navigator -->
    <aside id="aside" class="aside aside-left" ng-include="'spa/view/leftNavigator.html'"
           data-fuse-bar="aside" data-fuse-bar-media-step="md" data-fuse-bar-position="left"></aside>

    <!-- Content -->
    <div class="content-wrapper">
        <!-- NavBar -->
        <nav id="toolbar" class="bg-white" ng-include="'spa/view/navbar.html'"></nav>

        <!-- Content Page -->
        <div class="content custom-scrollbar" ng-controller="ShipmentSummaryController">
            <div id="maincontent" class="page-layout" style="overflow:auto;flex-direction: column;">
                <div class="page-layout simple left-sidebar-floating">
                    <div class="page-header bg-secondary text-auto row no-gutters align-items-center justify-content-between p-4 p-sm-6">
                        <div class="col">
                            <!-- APP TITLE -->
                            <div class="row no-gutters align-items-center flex-nowrap">
                                <div class="logo row no-gutters align-items-center flex-nowrap">
                                    <span class="logo-text h4">{{title}}</span>
                                </div>
                            </div>
                            <!-- / APP TITLE -->
                        </div>
                    </div>
                    <br />
                    <div class="page-content-wrapper">
                        <div class="col">
                            <!-- Criteria -->
                            <div class="card">
                                <div class="card-body">
                                    <form name="FormSearch" novalidate>
                                        <fieldset ng-disabled="loading">
                                            <div class="form-row">
                                                <div class="form-group col-md-4">
                                                    <label for="Person" class="form-control-label col-md-3">พนักงาน</label>
                                                    <div class="col-md-6">
                                                        <input type="text" id="Person" class="form-control" ng-model="selection.identity_name" ng-disabled="true">
                                                        <input type="text" ng-hide="true" class="form-control" ng-model="selection.identity_id">
                                                    </div>
                                                    <button type="button" class="btn btn-light btn-fab btn-sm" ng-click="toggleModal('พนักงาน')">
                                                        <i class="icon-account-search"></i>
                                                    </button>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="TransportMonth" class="form-control-label col-md-3">เดือน/ปี</label>
                                                    <div class="col-md-6">
                                                        <input type="month" class="form-control" id="TransportMonth" ng-model="selection.transport_month">
                                                    </div>
                                                </div>
                                                <modal-select visible="showModal">
                                                    <input type="text" class="form-control" ng-model="selection.filter_name" placeholder="ค้นหาพนักงาน"
                                                           style="margin-top:10px;" />
                                                    <div class="list-group" role="tablist" style="height:450px;overflow-x:auto">
                                                        <a ng-repeat="row in identities | filter:{NAME:selection.filter_name}" class="list-group-item list-group-item-action" href=""
                                                           ng-click="selected_identity(row)" data-toggle="tab"
                                                           ng-class="{'active':identity_id==row.PEOPLE_ID, '':identity_id!=row.PEOPLE_ID }">{{row.PEOPLE_ID}}:{{row.NAME}}</a>
                                                    </div>
                                                </modal-select>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col">
                                                    <label class="col-form-label col-md-1"></label>
                                                    <button class="btn btn-primary fuse-ripple-ready" type="button" style="margin-left:13px;"
                                                            ng-click="fn_preview()">
                                                        <i class="icon icon-application"></i> Preview
                                                    </button>
                                                    <button class="btn btn-primary fuse-ripple-ready" type="button" style="margin-left:15px;"
                                                            ng-click="fn_clear()">
                                                        <i class="icon icon-note-outline"></i> Clear
                                                    </button>
                                                    <button class="btn btn-primary fuse-ripple-ready" type="button" style="margin-left:15px;"
                                                            ng-click="fn_print()">
                                                        <i class="icon icon-printer"></i> Print
                                                    </button>
                                                    <button class="btn btn-primary fuse-ripple-ready" type="button" style="margin-left:15px;"
                                                            ng-click="fn_exportToExcel('#tableShipmentSummary')">
                                                        <i class="icon icon-file-excel"></i> Excel
                                                    </button>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                            <!-- Criteria -->
                            <br />
                            <!-- List -->
                            <div class="card">
                                <div class="card-body" id="printDoc">
                                    <div ng-repeat="iden in shipmentsum" class="pageBreak">
                                        <table style="width:100%;border:none">
                                            <tr>
                                                <td width="200px;">
                                                    <img src="../../content/images/logo_lifestyle.jpg" style="width:200px;" />
                                                </td>
                                                <td style="text-align:center">
                                                    <h5>พนักงาน {{iden.identity_name}}</h5>
                                                    <h5>เดือน {{iden.month_name}} ปี {{iden.year}}</h5>
                                                </td>
                                            </tr>
                                        </table>
                                        <div class="table-responsive table-content">
                                            <table style="width:100%" id="tableShipmentSummary" class="table-hover">
                                                <thead>
                                                    <tr>
                                                        <th style="width:100px;border-bottom-style:outset;border-top-style:outset;border-top-width:3px;border-bottom-width:3px;">วันที่</th>
                                                        <th style="width:100px;border-bottom-style:outset;border-top-style:outset;border-top-width:3px;border-bottom-width:3px;">Shipment</th>
                                                        <th style="width:90px;border-bottom-style:outset;border-top-style:outset;border-top-width:3px;border-bottom-width:3px;">ประเภท</th>
                                                        <th style="border-bottom-style:outset;border-top-style:outset;border-top-width:3px;border-bottom-width:3px;">จุดส่ง</th>
                                                        <th style="width:100px;border-bottom-style:outset;border-top-style:outset;border-top-width:3px;border-bottom-width:3px;">ค่าจุด</th>
                                                        <th style="border-bottom-style:outset;border-top-style:outset;border-top-width:3px;border-bottom-width:3px;">รายการอื่น ๆ</th>
                                                        <th style="width:100px;border-bottom-style:outset;border-top-style:outset;border-top-width:3px;border-bottom-width:3px;">ค่าอื่น ๆ</th>
                                                        <th style="width:100px;border-bottom-style:outset;border-top-style:outset;border-top-width:3px;border-bottom-width:3px;">รวมค่าอื่น ๆ</th>
                                                        <th style="width:100px;border-bottom-style:outset;border-top-style:outset;border-top-width:3px;border-bottom-width:3px;">รวมค่าจุด</th>
                                                        <th style="width:100px;border-bottom-style:outset;border-top-style:outset;border-top-width:3px;border-bottom-width:3px;">รวมทั้งสิ้น</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-if="iden.shipment.length===0">
                                                        <td colspan="9">ไม่พบข้อมูล</td>
                                                    </tr>
                                                    <tr ng-repeat="head in iden.shipment | orderBy:['transport_date','shipment_number']">
                                                        <td style="vertical-align:text-top">{{head.transport_date | date:'dd/MM/yyyy'}}</td>
                                                        <td style="vertical-align:text-top">{{head.shipment_number}}</td>
                                                        <td style="vertical-align:text-top">{{head.identity_type}}</td>
                                                        <td style="vertical-align:text-top">
                                                            <div ng-repeat="point in head.point" ng-init="iden.count_point = iden.count_point + 1;">
                                                                {{point.point_desc}}<br />
                                                            </div>
                                                        </td>
                                                        <td class="text-right" style="vertical-align:text-top">
                                                            <div ng-repeat="point in head.point">
                                                                {{point.amount | number:2}}<br />
                                                            </div>
                                                        </td>
                                                        <td style="vertical-align:text-top">
                                                            <div ng-repeat="exp in head.expense">
                                                                {{exp.expense_desc}}<br />
                                                            </div>
                                                        </td>
                                                        <td class="text-right" style="vertical-align:text-top">
                                                            <div ng-repeat="exp in head.expense">
                                                                {{exp.amount | number:2}}<br />
                                                            </div>
                                                        </td>
                                                        <td style="vertical-align:text-top;text-align:right;" ng-init="iden.sum_expense = iden.sum_expense + head.total_expense;">{{head.total_expense | number:2}}</td>
                                                        <td style="vertical-align:text-top;text-align:right;" ng-init="iden.sum_point = iden.sum_point + head.total_point;">{{head.total_point | number:2}}</td>
                                                        <td style="vertical-align:text-top;text-align:right;">
                                                            {{head.total_point + head.total_expense | number:2}}
                                                            <!--<div ng-class="{'pageBreak':($index / 34)>=1}"></div>-->
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="border:none;border-top-style:outset"></td>
                                                        <td style="border:none;border-top-style:outset"></td>
                                                        <td style="border:none;border-top-style:outset"></td>
                                                        <td style="border-top-style:outset;border-top-width:3px;border-bottom:solid;font-weight:bold">Counts: {{iden.count_point | number:0}}</td>
                                                        <td style="border:none;border-top-style:outset"></td>
                                                        <td style="border:none;border-top-style:outset"></td>
                                                        <td style="border:none;border-top-style:outset"></td>
                                                        <td style="border-top-style:outset;border-top-width:3px;border-bottom:solid;text-align:right;font-weight:bold;">{{iden.sum_expense | number:2}}</td>
                                                        <td style="border-top-style:outset;border-top-width:3px;border-bottom:solid;text-align:right;font-weight:bold;">{{iden.sum_point | number:2}}</td>
                                                        <td style="border-top-style:outset;border-top-width:3px;border-bottom:solid;text-align:right;font-weight:bold;">{{iden.sum_expense + iden.sum_point | number:2}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="footer">
                                            <table style="width:100%;border:none;border-style:none;margin-top:50px;">
                                                <tr>
                                                    <td>
                                                        <h5>พนักงารคลัง/ประกอบเฟอร์</h5><br />
                                                        ____________________________<br /><br />
                                                        (____/____/_____)
                                                    </td>
                                                    <td>
                                                        <h5>ผู้ออกเอกสาร</h5><br />
                                                        ____________________________<br /><br />
                                                        (____/____/_____)
                                                    </td>
                                                    <td>
                                                        <h5>ผู้อนุมัติ</h5><br />
                                                        ____________________________<br /><br />
                                                        (____/____/_____)
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- List -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    th, td {
        padding: 10px;
    }
    @media screen {
        .footer{
            display:none
        }
    }
    @media print {
        table {
            page-break-inside: auto
        }
        tr {
            page-break-inside: avoid;
            page-break-after: auto
        }
        .table-content {
            min-height:100%;
        }
        .footer {
            text-align: center;
        }
        .pageBreak {
            page-break-before: always;
        }
    }  
</style>
