<div id="wrapper">
    <!-- Left Navigator -->
    <aside id="aside" class="aside aside-left" ng-include="'spa/view/leftNavigator.html'"
           data-fuse-bar="aside" data-fuse-bar-media-step="md" data-fuse-bar-position="left"></aside>

    <!-- Content -->
    <div class="content-wrapper">
        <!-- NavBar -->
        <nav id="toolbar" class="bg-white" ng-include="'spa/view/navbar.html'"></nav>

        <!-- Content Page -->
        <div class="content custom-scrollbar" ng-controller="ShipmentListController" ng-init="init()">
            <div id="maincontent" class="page-layout" style="overflow:auto;flex-direction: column;">
                <div class="page-layout simple left-sidebar-floating">
                    <div class="page-header bg-secondary text-auto row no-gutters align-items-center justify-content-between p-4 p-sm-6">
                        <div class="col">
                            <!-- APP TITLE -->
                            <div class="row no-gutters align-items-center flex-nowrap">
                                <div class="logo row no-gutters align-items-center flex-nowrap">
                                    <span class="logo-text h4">{{title}}</span>
                                </div>
                            </div>
                            <!-- / APP TITLE -->
                        </div>
                    </div>

                    <div class="page-content-wrapper">
                        <div class="col">
                            <br />
                            <!-- Criteria -->
                            <div class="card">
                                <div class="card-body">
                                    <form name="FormSearch" novalidate>
                                        <fieldset ng-disabled="loading">
                                            <div class="form-row">
                                                <div class="form-group col-md-7">
                                                    <label class="form-control-label col-md-3">วันที่ Shipment</label>
                                                    <div class="col-md-4">
                                                        <input class="form-control" type="date" id="ShipmentDateFrom" ng-model="ShipmentDateFrom" placeholder="dd/MM/yyyy">
                                                    </div>
                                                    <label class="form-control-label col-md-2">ถึงวันที่</label>
                                                    <div class="col-md-3">
                                                        <input class="form-control" type="date" id="ShipmentDateTo" ng-model="ShipmentDateTo">
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-5">
                                                    <label class="form-control-label col-md-4" for="ShipmentNo">Shipment NO</label>
                                                    <div class="col-md-7">
                                                        <input type="text" class="form-control" id="ShipmentNo" placeholder="" ng-model="DataSearch.ShipmentNo">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group col-md-7">
                                                    <label for="CarType" class="form-control-label col-md-3">ประเภทรถ</label>
                                                    <div class="col-md-4">
                                                        <select id="CarType" class="form-control" ng-model="DataSearch.ShipmentType">
                                                            <option selected></option>
                                                            <option ng-repeat="option in ShipmentType" ng-value="option.shipmenttype_code">{{option.shipmenttype_desc}}</option>
                                                        </select>
                                                    </div>
                                                    <label for="CarGroup" class="form-control-label col-md-2">กลุ่มรถ</label>
                                                    <div class="col-md-3">
                                                        <select id="CarGroup" class="form-control" ng-model="DataSearch.CarGroup">
                                                            <option selected></option>
                                                            <option ng-repeat="option2 in CarGroup" ng-value="option2.CARGROUP_CODE">{{option2.CARGROUP_DESC}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-5">
                                                    <label class="form-control-label col-md-4" for="CarNo">ทะเบียนรถ</label>
                                                    <div class="col-md-7">
                                                        <input type="text" class="form-control" id="CarLicense" ng-model="DataSearch.CarLicense">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group col-md-7">
                                                    <label for="Status" class="form-control-label col-md-3">สถานะ</label>
                                                    <div class="col-md-4">
                                                        <select class="form-control" ng-model="DataSearch.ShipmentStatus" name="Status">
                                                            <option value="ALL" selected>ทั้งหมด</option>
                                                            <option ng-repeat="option3 in DocStatus" ng-value="option3.STATUS_CODE">{{option3.STATUS_DESC}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <div>
                                                        <button type="button" class="btn btn-primary fuse-ripple-ready" style="margin-left:15px;"
                                                                ng-click="Get_List(DataSearch,ShipmentDateFrom,ShipmentDateTo)">
                                                            <i class="icon icon-search-web"></i> Search
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                            <!-- <label class="h4 a-align-bottom-center text-red-700"> {{ShipSearchErr}}</label>-->
                            <br />
                            <!-- Table List -->
                            <div class="card" ng-hide="ShowTBL(DocList)">
                                <div class="card-body">

                                    <div class="form-row">
                                        <div class="col-auto">
                                            <button type="submit" class="btn btn-secondary fuse-ripple-ready" ng-disabled="ConfirmRow==0" ng-click="Confirm_Data()">Confirm</button>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="preview">
                                            <div class="preview-elements">
                                                <div class="table-responsive">
                                                    <table id="sample-data-table" class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    <div class="table-header"> 
                                                                            <div class="form-check" ng-hide="disabledChkBoxALL()">
                                                                                <label class="form-check-label">
                                                                                    <input type="checkbox" class="form-check-input" 
                                                                                           ng-click="addOrRemoveConfirmALL(  true)" />
                                                                                    <span class="checkbox-icon"></span>
                                                                                </label>
                                                                            </div> 
                                                                    </div>
                                                                </th>
                                                                <th>
                                                                    <div class="table-header">
                                                                        <span class="column-title">วันที่</span>
                                                                    </div>
                                                                </th>
                                                                <th>
                                                                    <div class="table-header">
                                                                        <span class="column-title">Shipment</span>
                                                                    </div>
                                                                </th>
                                                                <th>
                                                                    <div class="table-header">
                                                                        <span class="column-title">Route</span>
                                                                    </div>
                                                                </th>
                                                                <th>
                                                                    <div class="table-header">
                                                                        <span class="column-title">Container ID</span>
                                                                    </div>
                                                                </th>
                                                                <th>
                                                                    <div class="table-header">
                                                                        <span class="column-title">กลุ่มรถ</span>
                                                                    </div>
                                                                </th>
                                                                <th>
                                                                    <div class="table-header">
                                                                        <span class="column-title">ประเภทรถ</span>
                                                                    </div>
                                                                </th>
                                                                <th>
                                                                    <div class="table-header">
                                                                        <span class="column-title">ทะเบียนรถ</span>
                                                                    </div>
                                                                </th>
                                                                <th>
                                                                    <div class="table-header">
                                                                        <span class="column-title">รวมค่าขนส่ง</span>
                                                                    </div>
                                                                </th>
                                                                <th>
                                                                    <div class="table-header">
                                                                        <span class="column-title">สถานะ</span>
                                                                    </div>
                                                                </th>
                                                                <th>
                                                                    <div class="table-header">
                                                                        <span class="column-title"></span>
                                                                    </div>
                                                                </th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            <tr ng-repeat="x in DocList | orderBy : 'shipment_number'">
                                                                <td>
                                                                    <div class="form-check" ng-hide="disabledChkBox({{ x.status_code}})">
                                                                        <label class="form-check-label">
                                                                            <input type="checkbox" class="form-check-input"
                                                                                   ng-checked="ConfirmList.indexOf(x.shipment_number) > -1"
                                                                                   ng-click="addOrRemoveConfirm( x.shipment_number, true)" />
                                                                            <span class="checkbox-icon"></span>
                                                                        </label>
                                                                    </div>
                                                                </td>
                                                                <td>{{ x.shipment_date | date:'dd/MM/yyyy' }}</td>
                                                                <td  class="text-center"> 
                                                                    <div ng-hide="x.status_code=='03'">{{ x.shipment_number}}</div>
                                                                    <div ng-hide="x.status_code!='03'">
                                                                        <button type="button"   class="btn btn-link"
                                                                                ng-click="ShipmentForm(x.shipment_number)">
                                                                            <u> {{ x.shipment_number}}</u>
                                                                        </button>
                                                                    </div>
                                                                </td>
                                                                <td>{{ x.route_desc}}</td>
                                                                <td>{{ x.container_id}}</td>
                                                                <td>{{ x.cargroup_desc}}</td>
                                                                <td>{{ x.shipmenttype_desc}}</td>
                                                                <td>{{ x.car_license}}</td>
                                                                <td>{{ x.transport_amount | number : 2}}</td>
                                                                <td><span ng-class="Show_Status(x.status_code)"> {{ x.status_desc}}</span></td>
                                                                <td>
                                                                    <button type="button" class="btn btn-warning"
                                                                            ng-hide="disabledEditBT({{ x.status_code}})"
                                                                            ng-click="ShipmentForm(x.shipment_number)">
                                                                        ปรับปรุง
                                                                    </button>
                                                                    <!--<input type="button" ng-hide="disabledEditBT({{ x.status_code}})" value="ปรับปรุง" class="btn btn-warning" />-->
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- / Table List -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



