<div id="wrapper">
    <!-- Left Navigator -->
    <aside id="aside" class="aside aside-left" ng-include="'spa/view/leftNavigator.html'"
           data-fuse-bar="aside" data-fuse-bar-media-step="md" data-fuse-bar-position="left"></aside>

    <!-- Content -->
    <div class="content-wrapper">
        <!-- NavBar -->
        <nav id="toolbar" class="bg-white" ng-include="'spa/view/navbar.html'"></nav>

        <!-- Content Page -->
        <div class="content custom-scrollbar" ng-controller="ShipmentEditController" ng-init="init()">
            <div id="maincontent" class="page-layout" style="overflow:auto;flex-direction: column;">

                <div class="page-layout simple left-sidebar-floating">
                    <div class="page-header bg-secondary text-auto row no-gutters align-items-center justify-content-between p-4 p-sm-6">
                        <div class="row no-gutters align-items-center">

                            <a href="" class="btn btn-icon mr-4 fuse-ripple-ready"
                               ng-click="back()">
                                <i class="icon icon-arrow-left"></i>
                            </a>

                            <span class="logo-text h4">{{title}} {{ShipmentNO}}</span>
                        </div>
                    </div>

                    <div class="page-content-wrapper">
                        <div class="col">
                            <form name="FormEdit" novalidate>
                                <fieldset ng-disabled="loading">
                                    <div class="card">
                                        <div class="card-body">

                                            <!-- Head -->
                                            <div class="form-row ">
                                                <div class="form-group col-md-4">
                                                    <label class="form-control-label col-md-5" for="ShipmentNo">Shipment NO</label>
                                                    <div class="col-md-5">
                                                        <input type="text" class="form-control-plaintext" id="ShipmentNumber" disabled="disabled"
                                                               style="padding-left:0px;padding-right:0px;"
                                                               ng-model="DocList[0].shipment_number">
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-4">
                                                    <label class="form-control-label col-md-3">วันที่ส่ง</label>
                                                    <div class="col-md-6">
                                                        <input class="form-control" type="date" id="transport_date" ng-model="DocList[0].transport_date"
                                                               ng-bind="DocList[0].transport_date" ng-disabled="DocList[0].status_code=='03'">
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-4">
                                                    <label for="Route" class="form-control-label col-md-3">Route</label>
                                                    <div class="col-md-7">
                                                        <input type="text" class="form-control-plaintext" id="Route" ng-model="DocList[0].route_desc"
                                                               style="padding-left:0px;padding-right:0px;" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group col-md-4">
                                                    <label for="ShipmentType" class="form-control-label col-md-5">ประเภทรถ</label>
                                                    <div class="col-md-5">
                                                        <input type="text" class="form-control-plaintext" id="ShipmentType" ng-model="DocList[0].shipmenttype_desc"
                                                               style="padding-left:0px;padding-right:0px;" disabled="disabled">
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="CarGroup" class="form-control-label col-md-3">กลุ่มรถ</label>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control-plaintext" id="CarGroup" ng-model="DocList[0].cargroup_desc"
                                                               style="padding-left:0px;padding-right:0px;" disabled="disabled">
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label class="form-control-label col-md-4" for="CarLicense">ทะเบียนรถ</label>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control-plaintext" id="CarLicense" ng-model="DocList[0].car_license"
                                                               style="padding-left:0px;padding-right:0px;" disabled="disabled">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="Container" class="form-control-label col-md-3">Container ID</label>
                                                    <div class="col-md-5">
                                                        <input type="text" id="Container" class="form-control-plaintext" ng-model="DocList[0].container_id"
                                                               style="padding-left:0px;padding-right:0px;" disabled="disabled">
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="DRIVER_ID" class="form-control-label col-md-2">คนขับ</label>
                                                    <div class="col-md-6">
                                                        <input type="text" id="Driver_Name" class="form-control" ng-model="Driver_Name" ng-disabled="true" ng-value="getDriverName(DocList[0].driver_id)">
                                                        <input type="text" ng-hide="true" id="Driver_ID" ng-model="DocList[0].driver_id">
                                                    </div>
                                                    <button type="button" class="btn btn-light btn-fab btn-sm" ng-click="toggleModal('พนักงานขับรถ')" ng-disabled="DocList[0].status_code=='03'">
                                                        <i class="icon-account-search"></i>
                                                    </button>


                                                </div>
                                            </div>

                                            <modal-select visible="showModal">
                                                <div class="list-group" role="tablist" style="height:450px;overflow-x:auto">
                                                    <a ng-repeat="row in drivers |  filter:{DRIVER_FLAG:'Y'}" class="list-group-item list-group-item-action" href=""
                                                       ng-click="selected_driver(row.PEOPLE_ID)" data-toggle="tab"
                                                       ng-class="{'active':driver_id==row.PEOPLE_ID, '':driver_id!=row.PEOPLE_ID }">{{row.PEOPLE_ID}}:{{row.NAME}}</a>
                                                </div>
                                            </modal-select>

                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="STAFF1_ID" class="form-control-label col-md-3">เด็กรถ 1</label>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control" id="Staff_Name1" ng-model="Staff_Name1" ng-disabled="true" ng-value="getDriverName(DocList[0].staff1_id)">
                                                        <input type="text" ng-hide="true" id="Staff_ID1" ng-model="DocList[0].staff1_id" ng-change="changeStaff()">
                                                    </div>
                                                    <button type="button" class="btn btn-light btn-fab btn-sm" ng-click="toggleModalS1('พนักงานเด็กรถ(1)')" ng-disabled="DocList[0].status_code=='03'">
                                                        <i class="icon-account-search"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-danger btn-fab btn-sm" ng-click="ClearStaff('staff1')" 
                                                            ng-hide="DocList[0].staff1_id==0 || DocList[0].status_code=='03'" >
                                                        <i class="icon-minus"></i>
                                                    </button>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="STAFF2_ID" class="form-control-label col-md-2">เด็กรถ 2</label>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control" id="Staff_Name2" ng-model="Staff_Name2" ng-disabled="true" ng-value="getDriverName(DocList[0].staff2_id)">
                                                        <input type="text" ng-hide="true" id="Staff_ID2" ng-model="DocList[0].staff2_id" ng-change="changeStaff()">
                                                    </div>
                                                    <button type="button" class="btn btn-light btn-fab btn-sm" ng-click="toggleModalS2('พนักงานเด็กรถ(2)')" ng-disabled="DocList[0].status_code=='03'">
                                                        <i class="icon-account-search"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-danger btn-fab btn-sm" ng-click="ClearStaff('staff2')"
                                                            ng-hide="DocList[0].staff2_id==0 || DocList[0].status_code=='03'">
                                                        <i class="icon-minus"></i>
                                                    </button>
                                                </div>
                                            </div>


                                            <modal-select visible="showModalS1">
                                                <div class="list-group" role="tablist" style="height:450px;overflow-x:auto">
                                                    <a ng-repeat="rowS1 in staff1_list |  filter:{STAFF_FLAG:'Y' }" class="list-group-item list-group-item-action" href=""
                                                       ng-click="selected_Staff1(rowS1.PEOPLE_ID)" data-toggle="tab"
                                                       ng-class="{'active':staff1_id==rowS1.PEOPLE_ID, '':Staff_ID1!=rowS1.PEOPLE_ID }">{{rowS1.PEOPLE_ID}}:{{rowS1.NAME}}</a>
                                                </div>
                                            </modal-select>

                                            <modal-select visible="showModalS2">
                                                <div class="list-group" role="tablist" style="height:450px;overflow-x:auto">
                                                    <a ng-repeat="rowS2 in staff2_list |  filter:{STAFF_FLAG:'Y' }" class="list-group-item list-group-item-action" href=""
                                                       ng-click="selected_Staff2(rowS2.PEOPLE_ID)" data-toggle="tab"
                                                       ng-class="{'active':staff2_id==rowS2.PEOPLE_ID, '':Staff_ID2!=rowS2.PEOPLE_ID }">{{rowS2.PEOPLE_ID}}:{{rowS2.NAME}}</a>
                                                </div>
                                            </modal-select>


                                            <!-- Head End-->
                                            <br />
                                        </div>
                                    </div>
                                    <!-- นัดหมาย -->
                                    <div class="card"  style="margin-top:15px;">
                                        <div class="card-header">รายการปรับปรุง</div>
                                        <div class="card-body"> 

                                            <!-- Add Point-->
                                            <div class="form-row">
                                                <div class="form-group col-md-1">
                                                    <button type="button" class="btn btn-secondary btn-fab btn-sm" ng-click="addRowPoint()"
                                                            ng-hide="DocList[0].status_code=='03'"
                                                            ng-disabled="(DocList[0].point_id.length===0 || DocList[0].point_id===0 ) && DocList[0].status_code!=='03'">
                                                        <i class="icon-plus"></i>
                                                    </button>
                                                </div>

                                                <div class="form-group col-md-5">
                                                    <label for="CarriesPoint" class="form-control-label col-md-2">จุดส่ง</label>
                                                    <div class="col-md-7">
                                                        <select id="CarriesPoint_ID" class="form-control" ng-model="DocList[0].point_id" ng-disabled="!ShowTBL(DocList[0].shipment_carries)">
                                                            <option ng-repeat="optionPoint in CarriesPoint |  filter:{CARGROUP_CODE:DocList[0].cargroup_code }" ng-value="{{optionPoint.POINT_ID}}">{{optionPoint.TIER_DESC}}</option>
                                                        </select>
                                                        {{CarriesPoint_ID}}
                                                    </div>
                                                </div>

                                            </div>

                                            <br />
                                            <div class="form-row">
                                                <div class="card col-md-12" ng-hide="ShowTBL(DocList[0].shipment_carries)">
                                                    <div class="preview-elements">
                                                        <div class="table-responsive">
                                                            <table id="sample-data-table" class="table table-bordered">
                                                                <!--ng-hide="ShowTBL(DocList[0].shipment_carries)" class="table table-striped-->
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            <div class="table-header">
                                                                                <span class="column-title"></span>
                                                                            </div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="table-header">
                                                                                <span class="column-title">จุดที่ส่ง</span>
                                                                            </div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="table-header">
                                                                                <span class="column-title">เวลา</span>
                                                                            </div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="table-header">
                                                                                <span class="column-title">เลขที่ SO</span>
                                                                            </div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="table-header">
                                                                                <span class="column-title">หมายเหตุ</span>
                                                                            </div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="table-header">
                                                                                <span class="column-title">คนขับ</span>
                                                                            </div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="table-header">
                                                                                <span class="column-title">เด็กรถ</span>
                                                                            </div>
                                                                        </th>

                                                                    </tr>
                                                                </thead>

                                                                <tbody>
                                                                    <tr ng-repeat="x in DocList[0].shipment_carries | orderBy : 'itemno'">
                                                                        <td>
                                                                            <button type="button" class="btn  btn-danger btn-fab btn-sm "
                                                                                    ng-click="removeRowPoint(x)" ng-hide="DocList[0].status_code=='03'">
                                                                                <i class="icon-minus"></i>
                                                                            </button>
                                                                        </td> 
                                                                        <td>
                                                                          <input type="text" class="form-control" id="Item_NO" ng-model="x.point_desc">
                                                                        </td>
                                                                        <td>
                                                                            <select class="form-control" ng-model="x.time_range" name="Status">
                                                                                <option ng-repeat="timeList in Time_List" ng-value="timeList.time_desc">{{timeList.time_desc}}</option>
                                                                            </select>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="so_number" ng-model="x.so_number">
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="remark" ng-model="x.remark">
                                                                        </td>
                                                                        <td class="text-right">{{x.driver_amount | number:2}}</td>
                                                                        <td class="text-right">{{x.staff_amount | number:2}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>

                                                    </div>
                                                </div>


                                            </div>
                                            <!-- Add Point End-->
                                            <!-- Add Expense-->
                                            <div class="form-row">
                                                <div class="form-group col-md-1">
                                                    <button type="button" class="btn btn-secondary btn-fab btn-sm" ng-click="addRowExpense()" 
                                                            ng-hide="DocList[0].status_code=='03'"
                                                            ng-disabled="DocList[0].point_id===0 && DocList[0].status_code=='03'">
                                                        <i class="icon-plus"></i>
                                                    </button>
                                                </div>

                                                <div class="form-group col-md-5">
                                                    <label for="CarriesPoint" class="form-control-label]">อื่นๆ</label>
                                                </div>

                                            </div>

                                            <br />
                                            <div class="form-row">
                                                <div class="card col-md-12" ng-hide="ShowTBL(DocList[0].shipment_expense)">
                                                    <div class="preview-elements">
                                                        <div class="table-responsive">
                                                            <table id="sample-data-table" class="table table-bordered">
                                                                <!--ng-hide="ShowTBL(DocList[0].shipment_expense)"-->
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            <div class="table-header">
                                                                                <span class="column-title"></span>
                                                                            </div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="table-header">
                                                                                <span class="column-title">คำอธิบาย</span>
                                                                            </div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="table-header">
                                                                                <span class="column-title">หมายเหตุ</span>
                                                                            </div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="table-header">
                                                                                <span class="column-title">มูลค่า</span>
                                                                            </div>
                                                                        </th>

                                                                    </tr>
                                                                </thead>

                                                                <tbody>
                                                                    <tr ng-repeat="x2 in DocList[0].shipment_expense | orderBy : 'itemno'">
                                                                        <td>
                                                                            <button type="button" class="btn btn-danger btn-fab btn-sm "
                                                                                    ng-click="removeRowExpense(x2)" ng-hide="DocList[0].status_code=='03'">
                                                                                <i class="icon-minus"></i>
                                                                            </button>
                                                                        </td>
                                                                        <!-- <td>{{ x2.expense_id}}</td>-->
                                                                        <td>
                                                                            <select class="form-control" name="expense_id"
                                                                                    ng-model="x2.expense_id" ng-change="changeRowExpense(x2)" >
                                                                                <option ng-repeat="ExpenseList in Expense_List" 
                                                                                        ng-value="ExpenseList.EXPENSE_ID">{{ExpenseList.EXPENSE_DESC}}</option>
                                                                            </select>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="expense_remark" ng-model="x2.remark">
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" class="form-control" id="expense_amount" numeric-only
                                                                                   ng-model="x2.expense_amount" ng-change="changeExpenseAmount()">
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>

                                                    </div>
                                                </div>


                                            </div>
                                            <!-- Add Expense End-->
                                            <br />
                                            <div class="row">

                                                <div class="col-md-5">

                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-row">
                                                        <label class="form-control-label col-md-3">รวมค่าขนส่ง </label>
                                                        <label for="Driver_Doc_Amt" class="form-control-label col-md-2">คนขับ</label>
                                                        <div class="col-md-3">
                                                            <input type="text" class="form-control text-right"" id="Driver_Doc_Amt" value="{{TotalDriverAmount() | number:2}}"
                                                                   ng-disabled="true">
                                                        </div>
                                                        <div class="col-md-4">
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <div class="form-row">
                                                        <label class="form-control-label col-md-3"></label>
                                                        <label for="Staff_Doc_Amt" class="form-control-label col-md-2">เด็กรถ</label>
                                                        <div class="col-md-3">
                                                            <input type="text" class="form-control text-right" id="Staff_Doc_Amt" value="{{TotalStaffAmount() | number:2}}"
                                                                   ng-disabled="true">
                                                        </div>
                                                        <div class="col-md-4">
                                                        </div>
                                                    </div>
                                                </div> 
                                                    <div class="col-md-3">
                                                        <div  >
                                                            <div class="form-row">
                                                                <button class="btn btn-secondary fuse-ripple-ready" ng-click="put_Data_Flag()"
                                                                        style="width:150px;height:50px"
                                                                        ng-hide="DocList[0].status_code=='03'">
                                                                    <i class="icon icon-content-save"></i> บันทึก
                                                                </button>
                                                            </div> 
                                                            <br />
                                                            <div class="form-row">
                                                                <button type="button" class="btn btn-danger fuse-ripple-ready" 
                                                                        style="width:150px;height:40px"
                                                                        ng-hide="DocList[0].status_code=='03'"
                                                                        data-toggle="modal" data-target="#CancelEdit" >
                                                                    <i class="icon icon-cancel"></i> ยกเลิกแก้ไข
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div id="CancelEdit" class="modal fade" tabindex="-1" role="dialog"
                                                     aria-labelledby="confirmNewLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="confirmNewLabel">ข้อมูล Shipment</h5>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>ยืนยัน ยกเลิกการปรับปรุงค่าขนส่ง</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">ไม่</button>
                                                                <button type="button" class="btn btn-primary" ng-click="fn_clear()">ใช่</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <!-- <label class="h4 a-align-bottom-center text-red-700"> {{ShipEditErr}}</label>-->
                                            </div>
                                    </div>


                                </fieldset> 
                            </form>

                        </div>
                    </div>

                </div>

            </div>
        </div>

        <!-- Content Page End-->
    </div>

</div>
