@{
    ViewBag.Title = "Boonthavorn Service";
}
@section scripts {
    <!-- SignalR -->
    <script src="~/Scripts/jquery.signalR-2.2.3.js"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>
}
@section apps {
    <script src="~/spa/app.js"></script>
    <script src="~/spa/config.js"></script>

    <!-- Service -->
    <script src="~/spa/service/AuthInterceptor.js"></script>
    <script src="~/spa/service/LoginService.js"></script>
    <script src="~/spa/service/UserService.js"></script>
    <script src="~/spa/service/RepairService.js"></script>
    <script src="~/spa/service/ShipmentService.js"></script>

    <!-- Directive -->
    <script src="~/spa/directive/directive.js"></script>

    <!-- Controller -->
    <script src="~/spa/controller/HomeController.js"></script>
}

<main ng-app="app" ng-controller="HomeController">
    <ng-view></ng-view>
</main>