@{
    ViewBag.Title = "Home Page";
}
@section apps {
    <!-- Controller -->
    <script src="~/spa/app.js"></script>
    <script src="~/spa/config.js"></script>
    <script src="~/spa/service/LoginService.js"></script>
    <script src="~/spa/controller/HomeController.js"></script>
    <script src="~/spa/controller/LoginController.js"></script>
}
<main ng-app="app">
    <ui-view></ui-view>
    @*<ng-view></ng-view>*@
</main>
